body {
  color: #000000;
  background: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: arial, Helvetica, 'Bitstream Vera Sans', 'Luxi Sans', Verdana, Sans-Serif;
  font-size: 80%;
}

a:link, a:visited, a:hover {
  font-weight: bold;
  color: #0081ac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ac0011;
}

.top {
  background:#000000;
  width: 100%;
  border-bottom: 1px #30f solid;
  margin: 0;
  padding: 0;
}

.top a.logo {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.logo img {
  height: 60px;
}

.top .menu-holder {
  display: inline-block;
}

.top ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.top li {
  display: inline-block;
}

.top a {
  color: white;
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #111;
}

.top a:hover {
  background: #333;
  text-decoration: none;
}

div.content {
  padding: 20px;

  margin-left: 20px;
  margin-right: 20px;
}

p {
  text-align: justify;
}

h2 {
  font-size: 200%;
  color: #300;
  text-shadow: 0px 0px 5px #ff4;
}

pre {
  border: 1px #006F02 solid;
  background: #B0E4AE;
  padding: 4px;
}


#footer {
  text-align: center;
  width: 100%;
  border-top: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  padding-top: 4px;
  padding-bottom: 4px;
  background:#0081AC;
  color: #ffffff;
  clear: both;
}

#footer img {
  border: none;
}

#footer a {
  color: white;
}

table {
  margin-left:            auto;
  margin-right:           auto;
  width:                  100%;
  clear:                  none;
  border-collapse:        collapse;
  background:             none;
  font-size: 13px;
}

td {
  padding:                8px;
  vertical-align:         top;
}


tr.header {
  font-weight:            bold;
  background:             #ddd;
}

td.title {
  text-align:             center;
  font-size:              16px;
  font-weight:            bold;
  background:             #ddd;
}



img.float {
  float:                  right;

  margin-top:             7px;
  margin-left:            10px;
  margin-bottom:          10px;
}




.alert
{
  color:          red;
}


div.alert
{
  border:         1px solid red;
  padding:        8px;
}

.preview,
.message
{
  border:         1px solid #ccc;
  padding:        8px;
}


.caption
{
  float:          left;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 10px;

}

