body {
  color: #000000;
  background: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: arial, Helvetica, 'Bitstream Vera Sans', 'Luxi Sans', Verdana, Sans-Serif;
  font-size: 80%;
}

a:link, a:visited, a:hover {
  font-weight: bold;
  color: #0081ac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ac0011;
}

.top {
  background:#000000;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image:url('../images/header.jpg');
  background-repeat:no-repeat;
  background-position:right;
}

.top a.logo {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.logo img {
  height: 60px;
}

.top .menu-holder {
  display: inline-block;
}

.top ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.top li {
  display: inline-block;
}

.top a {
  color: white;
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #111;
}

.top li.menu-source a {
  background: #333;
}

.top li.menu-source a:hover {
  background: #444;
}


.top a:hover {
  background: #333;
  text-decoration: none;
}

div.content {
  padding: 20px;

  margin-left: 20px;
  margin-right: 20px;
}

p {
  text-align: justify;
}

h2 {
  font-size: 200%;
  color: #333;
  text-shadow: 0px 0px 5px #999;
}

.happy-block {
  display: table;
  background: #dfc;
  padding: 7px;
  border-radius: 4px;               
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  overflow:auto;
}

.happy-block-top { 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.happy-block-bottom { 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  background: #ceb;
}

a.happy-block-bottom:hover { 
  background: #ac9;
  text-decoration: none;
}


#footer {
  text-align: center;
  width: 100%;
  border-top: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  padding-top: 4px;
  padding-bottom: 4px;
  background:#0081AC;
  color: #ffffff;
  clear: both;
}

#footer img {
  border: none;
}

#footer a {
  color: white;
}

table {
  margin-left:            auto;
  margin-right:           auto;
  width:                  100%;
  clear:                  none;
  border-collapse:        collapse;
  background:             none;
  font-size: 13px;
}

td {
  padding:                8px;
  vertical-align:         top;
}


tr.header {
  font-weight:            bold;
  background:             #ddd;
}

td.title {
  text-align:             center;
  font-size:              16px;
  font-weight:            bold;
  background:             #ddd;
}



img.float {
  float:                  right;

  margin-top:             7px;
  margin-left:            10px;
  margin-bottom:          10px;
}




.alert
{
  color:          red;
}


div.alert
{
  border:         1px solid red;
  padding:        8px;
}

.preview,
.message
{
  border:         1px solid #ccc;
  padding:        8px;
}


.caption
{
  float:          left;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 10px;

}

#github-ribbon { 
  display: none;
}

a.sim-button { 
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  background: #8f8;
  color: black;
}

a.sim-button:hover { 
  background: #4f4;
  text-decoration: none;
}


#readout pre { 
  margin-top: 0;
}

.simulator-panel { 
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

#gates {
  cursor: pointer;
}

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/cosmic_spider.eot");
  src: url("../fonts/cosmic_spider.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cosmic_spider.woff") format("woff"),
  url("../fonts/cosmic_spider.ttf") format("truetype"),
  url("../fonts/cosmic_spider.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/cosmic_spider.svg#fontcustom") format("svg");
  }
}

.scrawl {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  moz-osx-font-smoothing: grayscale;
  webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  word-break: break-all;
  color: black;
}
