body {
  color: #000000;
  background: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: arial, Helvetica, 'Bitstream Vera Sans', 'Luxi Sans', Verdana, Sans-Serif;
  font-size: 80%;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ac0011;
}

.top {
  background:#000000;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image:url('../images/header.jpg');
  background-repeat:no-repeat;
  background-position:right;
}

.top a.logo {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.logo img {
  height: 60px;
}

.top .menu-holder {
  display: inline-block;
}

.top ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.top li {
  display: inline-block;
}

.top a {
  color: white;
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #111;
  font-weight: bold;
}

.top li.menu-source a {
  background: #333;
}

.top li.menu-source a:hover {
  background: #444;
}


.top a:hover {
  background: #333;
  text-decoration: none;
}

div.content {
  padding: 20px;

  margin-left: 20px;
  margin-right: 20px;
}

p {
  text-align: justify;
}

h2 {
  font-size: 200%;
  color: #333;
  text-shadow: 0px 0px 5px #999;
}

pre, tt { 
  font-family: "inconsolataregular", "Courier New", Courier, monospace;
}

.happy-block {
  display: table;
  background: #dfc;
  padding: 7px;
  border-radius: 4px;               
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  overflow:auto;
}

.happy-block-top { 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.happy-block-bottom { 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  background: #ceb;
}

a.happy-block-bottom {
  font-weight: bold;
}

a.happy-block-bottom:hover { 
  background: #ac9;
  text-decoration: none;
}


#footer {
  text-align: center;
  width: 100%;
  border-top: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  padding-top: 4px;
  padding-bottom: 4px;
  background:#0081AC;
  color: #ffffff;
  clear: both;
}

#footer img {
  border: none;
}

#footer a {
  color: white;
}

img.float {
  float:                  right;

  margin-top:             7px;
  margin-left:            10px;
  margin-bottom:          10px;
}




.alert
{
  color:          red;
}


div.alert
{
  border:         1px solid red;
  padding:        8px;
}

.preview,
.message
{
  border:         1px solid #ccc;
  padding:        8px;
}


.caption
{
  float:          left;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 10px;

}

#github-ribbon { 
  display: none;
}

a.sim-button { 
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  background: #8f8;
  color: black;
}

a.sim-button:hover { 
  background: #4f4;
  text-decoration: none;
}


#readout pre { 
  margin-top: 0;
}

.simulator-panel { 
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

#gates {
  cursor: pointer;
}

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/cosmic_spider.eot");
  src: url("../fonts/cosmic_spider.eot?#iefix") format("embedded-opentype"),
  url("../fonts/cosmic_spider.woff") format("woff"),
  url("../fonts/cosmic_spider.ttf") format("truetype"),
  url("../fonts/cosmic_spider.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/cosmic_spider.svg#fontcustom") format("svg");
  }
}


@font-face {
    font-family: 'inconsolataregular';
    src: url('../fonts/inconsolata-regular-webfont.eot');
    src: url('../fonts/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata-regular-webfont.woff') format('woff'),
         url('../fonts/inconsolata-regular-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inconsolatabold';
    src: url('../fonts/inconsolata-bold-webfont.eot');
    src: url('../fonts/inconsolata-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata-bold-webfont.woff') format('woff'),
         url('../fonts/inconsolata-bold-webfont.ttf') format('truetype'),
         url('../fonts/inconsolata-bold-webfont.svg#inconsolatabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.scrawl {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  moz-osx-font-smoothing: grayscale;
  webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  word-break: break-all;
  color: black;
}

table.msg-index {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  clear: none;
  border-collapse: collapse;
  background: none;
}

.msg-index th,td {  
  text-align: left;                
  vertical-align: top;
  padding: 0;
}

.msg-index td.sectnum {
  text-align: right;
  padding-right: 4px;
  color: #888;
  padding: 10px;
}

.msg-index td.sectcat {
  padding-left: 4px;
  color: #888;
  padding: 10px;
}

.msg-index a {
  display: block;
  color: black;
  padding: 9px;
  border-radius: 8px;
  margin: 1px;
  background: #eee;
}

.msg-index a:hover {
  display: block;
  background: #ccc;
  text-decoration: none;
}

.msg-line {
  font-family: "inconsolataregular", "Courier New", Courier, monospace;
}

.msg-code {
  font-family: "inconsolataregular", "Courier New", Courier, monospace;
  font-size: 80%;
  color: #aaa;
  padding-bottom: 6px;
  margin-bottom: 0;
  word-break:break-all;
}

.msg-code a.show:before {
  content: '\25B6\00a0';
}

.msg-code a.hear {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  margin-left: 10px;
  display: none;
}

.msg-code a {
  text-decoration: none;
  color: #aaa;
}

.msg-code a:focus {
  outline: 0;
}

.msg-expand {
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 5px;
  font-size: 100% !important;
}

.msg-expand a {
  color: black;
}

.msg-expand a.hear {
  display: initial !important;
}

pre.msg-line {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

h3 a {
  color: initial !important;
}