sudo: required
addons:
  apt:
    packages:
    - cmake
    - libbcel-java
    - openjdk-6-jdk
    - libgd-gd2-perl
    - nodejs 
    - ocaml
    - camlp4
    - neko
script: 
    - git clone --recursive git://github.com/HaxeFoundation/haxe.git
    - cd haxe
    - make
    - sudo make install
    - cd ..
    - mkdir build
    - cd build 
    - cmake ..
    - make
