sudo: required
language: haxe
addons:
  apt:
    packages:
    - cmake
    - libbcel-java
    - openjdk-6-jdk
    - libgd-gd2-perl
    - nodejs
script: 
    - mkdir build
    - cd build 
    - cmake ..
    - make
    - make test
