---
layout: default
title: Message details
---

<A NAME="compiled"></A>
<h2>Message in compiled form</h2>


The message consists of a long sequence of four basic symbols:

<PRE>
{% include block_RRR.txt %}
...
</PRE>
(<A HREF=wrapped.txt>click for full {% include block_CCC.txt %}-symbol message</A>)


<A NAME="toc"></A>
<h2>Message in human-readable form</h2>

This form of the message is close to the actual "source code"
of the message, and should be much easier to read (especially
if you are a programmer).<P>

<A HREF=message-verbose.html>Click here for complete message</A> - warning,
this is a very large document, you are probably better off looking at 
individual sections:<P>

{% include block_III.txt %}






<A NAME="iconic"></A>
<h2>Message in graphical form</h2>


This is a prettier way to view the message.  This is
<I>not</I> the form in which the message would be transmitted,
just a more convenient form for a casual human reader to skim.<P>


<A HREF=iconic-000000.html><IMG SRC=iconic-000000.png WIDTH=640 HEIGHT=480></A><BR>
...<BR>
...<BR>
(<A HREF=iconic-000000.html>click for full message</A>)



<h2>Message as a single image</h2>

<IMG [SSS] SRC=view.png BORDER=0><BR>
<BR>
<P>
This is just for fun. The entire message is embedded in a single image,
with each pixel corresponding to one symbol in the message.  The image
reads diagonally, starting at the top left.  It is handy for spotting
phase changes in the message (e.g.  the transition from using unary to
binary, or&nbsp;- more importantly&nbsp;- bugs).  Zeros are greenish,
ones are reddish, parentheses (symbols 2 and 3) are different shades
of blue.



<A NAME=notes></A><h2>Version notes</h2>

<p>
{% include block_XXX.txt %}
</p>

<P>
Estimate of message entropy in <A HREF=wrapped.txt>compiled form</A>:
<B>{% include block_EEE.txt %} kB</B>.
</P>

<P>
There are bugs and rough edges in the message.  Please be forgiving.
It'll all get fixed in an instant of galactic time...
</P>


{% include block_MMM.txt %}



<TABLE>
<TR>
<TD style="width: 100px;">
<!-- Creative Commons License -->
<a href="http://creativecommons.org/licenses/GPL/2.0/"><img alt="CC-GNU GPL" border="0" src="{{site.baseurl}}/images/cc-GPL-a.png" /></a><br />
</TD><TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS software is licensed under the <a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a>.
</FONT>
<!-- /Creative Commons License -->
</TD></TR></TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/GPL/2.0/" />
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Software" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/GPL/2.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
   <requires rdf:resource="http://web.resource.org/cc/SourceCode" />
</License>

</rdf:RDF>

-->






<!-- Creative Commons License -->
<TABLE>
<TR>
<TD style="width: 100px;">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" border="0" src="{{site.baseurl}}/images/somerights20.gif" /></a><br />
</TD>
<TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS webpages are licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>.
</FONT>
<!-- /Creative Commons License -->
</TD>
</TR>
</TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->




