---
layout: default
title: CosmicOS
---



<A NAME='outline'></A><h2>CosmicOS: a next-generation Contact message</h2>

<p>
CosmicOS is a framework for creating stand-alone messages suitable for
sending to ourselves in the distant future, or to use in SETI
research. It is inspired by Hans Freudenthal's language, 
<A HREF="http://en.wikipedia.org/wiki/Lincos_(language)">Lincos</A>, and
Carl Sagan's book, <A HREF="http://en.wikipedia.org/wiki/Contact_%28novel%29">Contact</A>.
</p>

The message consists of a long sequence of four basic symbols. Labeling
them arbitrarily as
<b>0</b>, <b>1</b>, <b>2</b>, and <b>3</b>, the message begins like this:

<PRE>
{% include block_RRR.txt %}
...
</PRE>
(<A HREF=wrapped.txt>see full {% include block_CCC.txt %}-symbol message</A>)

<p>
The message communicates:
</p>

<ul>
  <li>Basic mathematics and logic.</li>
  <li>Basic elements of functional programming.</li>
  <li>2D logic circuits and a program to evaluate them.</li>
  <li>A very minimal JVM interpreter.</li>
  <li>A tiny game that runs on the JVM.</li>
</ul>

<p>
The idea is to communicate the usual math and logic basics,
then use that to show how to run programs, then send
interesting programs that demonstrate behaviors and interactions
that get at fuzzier stuff. This is an inspired by Freudenthal's
idea of staging conversations between <b>Ha</b> and <b>Hb</b>
that happen to be about math but which get at ideas like helpful
versus unhelpful.
</p>

<A NAME="toc"></A>
<h2>Message in human-readable form</h2>

This form of the message is close to the actual "source code"
of the message, and should be much easier to read (especially
if you are a programmer).<P>

<A HREF=message-verbose.html>Click here for complete message</A> - warning,
this is a very large document, you are probably better off looking at 
individual sections:<P>

{% include block_III.txt %}






<A NAME="iconic"></A>
<h2>Message in graphical form</h2>

{% include glyph_caveat.html %}

<div class="scrawl">
{% include glyph_head.txt %}
</div>
...<br />
(<A HREF=iconic.html>see full message</A>)


<A NAME=notes></A><h2>Statistics and structure</h2>

<p>
{% include block_XXX.txt %}
</p>

<P>
Estimate of message entropy in <A HREF=wrapped.txt>compiled form</A>:
<B>{% include block_EEE.txt %} kB</B>.
</P>

<P>
There are bugs and rough edges in the message.  Please be forgiving.
It'll all get fixed in an instant of galactic time...
</P>


{% include block_MMM.txt %}


<h2>License</h2>

<p>

I've chosen the GPL for whimsical reasons.  If it is a problem for
you just <a href="https://github.com/paulfitz/cosmicos/issues/new">file an issue</a>.  I'm a license push-over.

</p>

<TABLE>
<TR>
<TD style="width: 100px;">
<!-- Creative Commons License -->
<a href="http://creativecommons.org/licenses/GPL/2.0/"><img alt="CC-GNU GPL" border="0" src="{{site.baseurl}}/images/cc-GPL-a.png" /></a><br />
</TD><TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS software is licensed under the <a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a>.
</FONT>
<!-- /Creative Commons License -->
</TD></TR></TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/GPL/2.0/" />
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Software" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/GPL/2.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
   <requires rdf:resource="http://web.resource.org/cc/SourceCode" />
</License>

</rdf:RDF>

-->






<!-- Creative Commons License -->
<TABLE>
<TR>
<TD style="width: 100px;">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" border="0" src="{{site.baseurl}}/images/somerights20.gif" /></a><br />
</TD>
<TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS webpages are licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>.
</FONT>
<!-- /Creative Commons License -->
</TD>
</TR>
</TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->



<!---
<p>
You can try your hand at making CosmicOS <a href=unless.html>logic gates</a>
or evaluating <a href=assem.swf>simple expressions</a>.
</p>
-->

</div>
