---
layout: default
title: "CosmicOS: a next-generation Contact message"
---

<h2>CosmicOS: a next-generation Contact message</h2>

<p>
CosmicOS is a way to create stand-alone messages suitable for
conversations across large gulfs of time and space.  It is
a preamble you can borrow
to bootstrap up to a decent shared vocabulary,
without making too many assumptions.
CosmicOS is inspired by Hans Freudenthal's language, 
<A HREF="http://en.wikipedia.org/wiki/Lincos_(language)">Lincos</A>, and
Carl Sagan's book, <A HREF="http://en.wikipedia.org/wiki/Contact_%28novel%29">Contact</A>.
</p>

The message consists of a long sequence of four basic symbols. Labeling
them arbitrarily as
<b>0</b>, <b>1</b>, <b>2</b>, and <b>3</b>, the message begins like this:

<pre class="happy-block happy-block-top">
{% include block_RRR.txt %}
...
</pre>
<A class="happy-block happy-block-bottom" HREF="wrapped.txt">see full {% include block_CCC.txt %}-symbol message</A>

<p>
Or reformatting a little with arbitrary glyphs for those who just want a taste:
</p>

<div class="scrawl happy-block happy-block-top">
{% include glyph_head.txt %}
...<br />
</div>
<A class="happy-block happy-block-bottom" HREF="iconic.html">see full message</A>

<p>
The message communicates:
</p>

<ul>
  <li>Basic mathematics and logic.</li>
  <li>Basic elements of functional programming.</li>
  <li>2D logic circuits and a program to evaluate them.</li>
  <li>A very minimal JVM interpreter.</li>
  <li>A tiny game that runs on the JVM.</li>
</ul>

<p>
The idea is to communicate the usual math and logic basics,
then use that to show how to run programs, then send
interesting programs that demonstrate behaviors and interactions
that get at fuzzier stuff. This is inspired by Freudenthal's
idea of staging conversations between <b>Ha</b> and <b>Hb</b>
that happen to be about math but which get at ideas like helpful
versus unhelpful.
</p>

<A NAME="toc"></A>
<h2>Message in human-readable form</h2>

<p>
  This form of the message is close to the actual &ldquo;source code&rdquo;
  of the message, and should be much easier to read (especially
  if you are a programmer).</p>

{% include sections.html %}

<A NAME=notes></A><h2>Statistics and structure</h2>

<p>
{% include block_XXX.txt %}
</p>

<P>
Estimate of message entropy in <A HREF=wrapped.txt>compiled form</A>:
<B>{% include block_EEE.txt %} kB</B>.
</P>

<P>
There are bugs and rough edges in the message.  Please be forgiving.
It'll all get fixed in an instant of galactic time.  The structure
is as follows:
</P>


<ul>
  <li>The message consists of a sequence of statements that can be
evaluated, and each statement evaluates to true.</li>
  <li>The message can refer to itself and change its own syntax as it goes.</li>
  <li>A core set of operators are introduced by showing examples of their use.</li>
  <li>Once a sufficient set of operators is available, most new concepts
are introduced both by examples and a definition in terms of what is
already known.</li>
  <li>The message is more like a programming language than a human language, and is related to Brian McConnell's notion of <A HREF=http://www.oreilly.com/news/seti_0201.html>ACETI</A>.  The goal is to
transmit simulations whose behavior can be examined and discussed, and
to introduce higher-level notions in terms of those simulations.</li>
</ul>

<p>The generated message currently consists of a sequence of 4 symbols.</p>

<pre class="happy-block">
  number   symbol   meaning
    0         .     binary digit zero
    1         :     binary digit one
    2         (     marks beginning of an expression
    3         )     marks end of an expression
</pre>

<P>And two pseudo-symbols coded using the above:</P>

<PRE class="happy-block">
  sequence  symbol   meaning
    .()        /     opens an implicit paren, which will close at next paren
                     (A B / C / D) is another way to write (A B (C (D)))
                     This greatly simplifies complex expressions.
    (())       ;     marks end of sentence
</PRE>

<p>Numbers are encoded as binary digits between parentheses, e.g.  (:::.)
is 1110 base 2 which is 14 in decimal.  A set of numbers between
parentheses constitutes an expression.  Expressions can be nested.
Expressions followed by a semicolon should evaluate to be true, once
the rules for evaluation have been introduced.
</p>

<P>In the human-readable form of the message, decimal numbers can be
used.  There are converted to binary.  Identifiers can also be
used.  Identifiers are mapped onto arbitrarily assigned numbers.
In the message, there is nothing to distinguish identifiers from 
numbers.  The actual language is carefully constructed so that
this distinction is never necessary.</P>


<h2>License</h2>

<p>

I've chosen the GPL for whimsical reasons.  If it is a problem for
you just <a href="https://github.com/paulfitz/cosmicos/issues/new">file an issue</a>.  I'm a license push-over.

</p>

<TABLE>
<TR>
<TD style="width: 100px;">
<!-- Creative Commons License -->
<a href="http://creativecommons.org/licenses/GPL/2.0/"><img alt="CC-GNU GPL" border="0" src="{{site.baseurl}}/images/cc-GPL-a.png" /></a><br />
</TD><TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS software is licensed under the <a href="http://creativecommons.org/licenses/GPL/2.0/">CC-GNU GPL</a>.
</FONT>
<!-- /Creative Commons License -->
</TD></TR></TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/GPL/2.0/" />
   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Software" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/GPL/2.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
   <requires rdf:resource="http://web.resource.org/cc/SourceCode" />
</License>

</rdf:RDF>

-->






<!-- Creative Commons License -->
<TABLE>
<TR>
<TD style="width: 100px;">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" border="0" src="{{site.baseurl}}/images/somerights20.gif" /></a><br />
</TD>
<TD VALIGN=TOP>
<FONT SIZE=-1>
The CosmicOS webpages are licensed under a 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License</a>.
</FONT>
<!-- /Creative Commons License -->
</TD>
</TR>
</TABLE>

<!--

<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
</License>

</rdf:RDF>

-->



<!---
<p>
You can try your hand at making CosmicOS <a href=unless.html>logic gates</a>
or evaluating <a href=assem.swf>simple expressions</a>.
</p>
-->

</div>
