{% include header.html %}

<script>

 ////////////////////////////////////////////////////////////////////////
 // UnlessGate
 
 function UnlessGate() {
   this.state = true;
   this.nextState = true;
   this.forced = false;
   this.hidden = false;
   this.src = null;
   this.dest = null;

   this.block = function() {
     this.nextState = false;
   }

   this.prepareForUpdate = function() {
     if (!this.forced) {
       this.nextState = true;
       if (this.src!=null) {
	 this.nextState = this.src.state;
       }
     }
   }

   this.update = function() {
     if (!this.forced) {
       if (this.state) {
	 if (this.dest!=null && !this.hidden) {
	   this.dest.block();
	 }
       }
     }
   }


   this.finalizeUpdate = function() {
     if (!this.forced) {
       this.state = this.nextState;
     }
     //this.forced = false;
   }

   this.set = function(state) {
     this.state = state;
     this.forced = true;
   }

   this.getSource = function() {
     return this.src;
   }

   this.getDestination = function() {
     return this.dest;
   }
 }


 ////////////////////////////////////////////////////////////////////////
 // UnlessNet

 function UnlessNet() {
   this.net = [];
   this.nodes = new Object();
   this.names = new Object();
   this.key = 1;

   this.add = function(name) {
     if (this.nodes[name]==null) {
       node = new UnlessGate();
       node.key = this.key;
       this.key = this.key+1;
       this.nodes[name] = node;
       this.names[node.key] = name;
       this.net.push(node);
     }
   }

   this.get = function(name) {
     return this.nodes[name];
   }

   this.setSource = function(name,srcName) {
     var ref = this.nodes[name];
     if (ref!=null) {
       ref.src = this.nodes[srcName];
     }
   }

   this.setDestination = function(name,destName) {
     var ref = this.nodes[name];
     if (ref!=null) {
       ref.dest = this.nodes[destName];
     }
   }

   this.update = function() {
     for (var i=0; i<this.net.length; i++) {
       this.net[i].prepareForUpdate();
     }
     for (var i=0; i<this.net.length; i++) {
       this.net[i].update();
     }
     for (var i=0; i<this.net.length; i++) {
       this.net[i].finalizeUpdate();
     }
   }

   this.toString = function() {
     var sb = "";
     for (var i=0; i<this.net.length; i++) {
       var u = this.net[i];
       if (!u.hidden) {
	 var name = this.names[u.key];
	 var src = u.getSource();
	 var dest = u.getDestination();
	 var srcName = "[1]";
	 var destName = "[0]";
	 if (src!=null) { srcName = this.names[src.key]; }
	 if (dest!=null) { destName = this.names[dest.key]; }
	 var line = "node " + name + " (" + srcName + ":" +
		    destName + ") = " + u.state + "\n";
	 sb = sb + line;
       }
     }
     return sb;
   }

   this.disconnect = function() {
     for (var i=0; i<this.net.length; i++) {
       var u = this.net[i];
       u.src = null;
       u.dest = null;
     }
   }
 }

 ////////////////////////////////////////////////////////////////////////
 // Pair

 function Pair(x,y) {
   this.x = x;
   this.y = y;
   this.key = 257*x+y;
   this.equals = function(p) {
     return p.x==this.x && p.y==this.y;
   }
 }


 ////////////////////////////////////////////////////////////////////////
 // UnlessGrid

 function UnlessGrid() {
   this.points = new Object();
   this.pointsList = [];
   this.names = new Object();
   this.externalize = new Object();
   this.ct = 0;
   this.xbase = -1;
   this.ybase = -1;

   this.add = function(x,y,dx,dy,label) {
     this.points[(new Pair(x,y)).key] = new Pair(dx,dy);
     this.pointsList.push(new Pair(x,y));
     if (label!=null) {
       this.names[label] = new Pair(x,y);
       this.externalize[this.getName(x,y)] = label;
     }
     if (this.xbase<0) {
       this.xbase = x;
       this.ybase = y;
       if (dy!=0) {
	 this.xbase++;
	 this.ybase++;
       }
     }
     this.ct++;
   }

   this.nearby = function(x,y) {
     for (var i=0; i<this.pointsList.length; i++) {
       var pt = this.get(i);
       var nx = (pt.x-x)*(pt.x-x);
       var ny = (pt.y-y)*(pt.y-y);
       if (pt.dx!=0) {
	 ny *= 5;
       } else {
	 nx *= 5;
       }
       var diff = nx+ny;
       if (diff<1) {
	 return i;
       }
     }
     return -1;
   }

   this.wobble = function(x0,y0) {
     var idx = this.nearby(x0,y0);
     var near = null;
     var flipped = false;
     if (idx>=0) {
       near = this.get(idx);
       var dx = x0-near.x;
       var dy = y0-near.y;
       var s = 1;
       var p = this.pointsList[idx];
       var dp = this.points[p.key];
       if (Math.abs(dx)>Math.abs(dy)) {
	 if (dx*dp.x<0) {
	   dp.x = -dp.x;
	   flipped = true;
	 }
       } else {
	 if (dy*dp.y<0) {
	   dp.y = -dp.y;
	   flipped = true;
	 }
       }
     }
     return flipped;
   }

   this.getExternalName = function(x,y) {
     return this.externalize[this.getName(x,y)];
   }

   this.append = function(x,y,net) {
     var x0 = Math.floor(x+0.5);
     var y0 = Math.floor(y+0.5);
     var dx = Math.abs(x0-this.xbase);
     var dy = Math.abs(y0-this.ybase);
     var gx = 0;
     var gy = 0;
     if (dx%2==0 && dy%2==0) {
       gx = 1;
     } else {
       gy = 1;
     }
     if ((dx+dy)%2==1) {
       return null;
     }
     var name = this.getName(x0,y0);
     this.add(x0,y0,gx,gy);
     net.add(name);
     this.wobble(x,y);
     net.disconnect();
     this.connect(net);
   }

   this.getName = function(x,y) {
     return "(" + x + "," + y + ")";
   }

   this.getLabel = function(label) {
     var p = this.names[label];
     return this.getName(p.x,p.y);
   }

   this.length = function() {
     return this.ct;
   }

   this.get = function(i) {
     if (i<0) {
       return null;
     }
     var p = this.pointsList[i];
     var dp = this.points[p.key];
     var x = p.x;
     var y = p.y;
     var dx = dp.x;
     var dy = dp.y;
     var name = this.getName(x,y);
     return {x: x, y: y, dx: dx, dy: dy, name: name};
   }

   this.render = function(net) {
     var str = "";
     for (var i=0; i<this.ct; i++) {
       var p = this.pointsList[i];
       var dp = this.points[p.key];
       var x = p.x;
       var y = p.y;
       var dx = dp.x;
       var dy = dp.y;
       var name = this.getName(x,y);
       var unit = net.get(name);
       var v = 0;
       var b = unit.state;
       if (b) { v = 1; }
       if (unit.hidden) continue;
       str += x + " " + y + " " + dy + " " + dx;
       var ext = this.externalize[name];
       if (ext!=null) {
	 str += " " + ext;
       }
       str += "\n";
     }
     return str;
   }

   this.renderCos = function(net) {
     var str = "(vector \n";
     for (var i=0; i<this.ct; i++) {
       var p = this.pointsList[i];
       var dp = this.points[p.key];
       var x = p.x;
       var y = p.y;
       var dx = dp.x;
       var dy = dp.y;
       var name = this.getName(x,y);
       var unit = net.get(name);
       var v = 0;
       var b = unit.state;
       if (b) { v = 1; }
       if (unit.hidden) continue;
       var ext = this.externalize[name];
       if (ext==null) {
	 ext = 0;
       }
       var line = "  (vector ";
       line += (x-dx) + " " + (y-dy) + " " + (x+dx) + " " + (y+dy);
       line += " " + v;
       line += " " + ext;
       line += ")";
       str += line;
       str += "\n";
     }
     str += ")\n";
     return str;
   }

   this.connect = function(net) {
     for (var i=0; i<this.ct; i++) {
       var p = this.pointsList[i];
       var rec = this.points[p.key];
       var x = p.x;
       var y = p.y;
       var dx = rec.x;
       var dy = rec.y;
       var x0 = x+dx*2;
       var y0 = y+dy*2;
       var x90 = x+dx+dy;
       var y90 = y+dy-dx;
       var x270 = x+dx-dy;
       var y270 = y+dy+dx;
       var rec0 = this.points[(new Pair(x0,y0)).key];
       var rec90 = this.points[(new Pair(x90,y90)).key];
       var rec270 = this.points[(new Pair(x270,y270)).key];
       var blocking = false;
       var lr = false;
       if (rec90!=null && rec270!=null) {
	 if (rec90.equals(rec270)) {
	   blocking = true;
	   lr = true;
	 }
       }
       if (rec0!=null) {
	 if (rec0.equals(rec)) {
	   blocking = false;
	 }
       }
       if (blocking) {
	 // set appropriate destination
	 net.setDestination(this.getName(x,y),
			    this.getName(x+dx+rec90.x,y+dy+rec90.y));
       }
       if (!blocking) {
	 if (rec0!=null) {
	   if (rec0.equals(rec)) {
	     // good to src
	     net.setSource(this.getName(x0,y0),
			   this.getName(x,y));
	   }
	 }
	 if (!lr) {
	   if (rec90!=null) {
	     if (x90-rec90.x==x+dx &&
		 y90-rec90.y==y+dy) {
	       // good to src
	       net.setSource(this.getName(x90,y90),
			     this.getName(x,y));
	     }
	   }
	   if (rec270!=null) {
	     if (x270-rec270.x==x+dx &&
		 y270-rec270.y==y+dy) {
	       // good to src
	       net.setSource(this.getName(x270,y270),
			     this.getName(x,y));
	     }
	   }
	 }
       }
     }	
   }

   this.compile = function() {
     var net = new UnlessNet();
     for (var i=0; i<this.ct; i++) {
       var p = this.pointsList[i];
       var dp = this.points[p.key];
       var x = p.x;
       var y = p.y;
       var dx = dp.x;
       var dy = dp.y;
       net.add(this.getName(x,y));
     }
     this.connect(net);
     return net;
   }
 }


 ////////////////////////////////////////////////////////////////////////
 // GridLoader

 function gridLoader(str) {
   var grid = new UnlessGrid();
   str = str + "\n";
   var parts = [];
   var part = "";
   for (var i=0; i<str.length; i++) {
     var ch = str.charAt(i);
     if (ch==' '||ch=='\n'||ch=='\r'||ch=='.') {
       if (part!="") {
	 parts.push(part);
       }
       part = "";
     }
     if (ch=='\n'||ch=='\r'||ch=='.') {
       if (parts.length>=4) {
	 var x = parseInt(parts[0]);
	 var y = parseInt(parts[1]);
	 var dx = parseInt(parts[3]);
	 var dy = parseInt(parts[2]);
	 var name = parts[4];
	 grid.add(x,y,dx,dy,name);
       }
       parts = [];
     }
     if ((ch>='0'&&ch<='9')||(ch>='A'&&ch<='Z')||(ch>='a'&&ch<='z')||
	 ch=='_'||ch=='-') {
       part = part + ch;
     }
   }
   return grid;
 }

var network_default = "12 1 1 0 \n" +
	       "14 1 1 0 \n" +
	       "1 2 0 1 DATA \n" +
	       "3 2 0 1 \n" +
	       "5 2 0 1 \n" +
	       "7 2 0 1 \n" +
	       "9 2 0 1 \n" +
	       "11 2 0 1 \n" +
	       "12 3 1 0 \n" +
	       "14 3 1 0 \n" +
	       "11 4 0 1 \n" +
	       "13 4 0 1 \n" +
	       "10 5 -1 0 \n" +
	       "14 5 1 0 \n" +
	       "1 6 0 1 ENABLE \n" +
	       "3 6 0 1 \n" +
	       "5 6 0 1 \n" +
	       "7 6 0 1 \n" +
	       "9 6 0 1 \n" +
	       "11 6 0 1 \n" +
	       "12 7 1 0 \n" +
	       "14 7 1 0 \n" +
	       "11 8 0 1 \n" +
	       "13 8 0 1 \n" +
	       "10 9 -1 0 \n" +
	       "14 9 1 0 \n" +
	       "11 10 0 -1 \n" +
	       "13 10 0 -1 \n" +
	       "15 10 0 -1 \n" +
	       "12 11 1 0 \n" +
	       "13 12 0 1 \n" +
	       "15 12 0 1 \n" +
	       "17 12 0 1 \n" +
	       "19 12 0 1 OUT \n";

 {{content}}

 if (!network) {
   network = network_default;
 }


 var oldNetwork = network;

 var cosNetwork = "";

 var sc = 15;
 var offx = 1;
 var offy = 1;
 var grid3 = gridLoader(network);
 var net3 = grid3.compile();

 function relMouseCoords(event,element){
   var offset = element.offset();
   var canvasX = Math.round(event.pageX - offset.left);
   var canvasY = Math.round(event.pageY - offset.top);
   return {x:canvasX, y:canvasY};
 }


 function redraw(cvs) {
   var w = cvs.width;
   var h = cvs.height;
   var ctx = cvs.getContext("2d");
   ctx.fillStyle = "#fafafa";
   ctx.fillRect(0,0,cvs.width,cvs.height);
   var	grid = grid3;
   var net = net3;
   for (var i=0; i<grid.length(); i++) {
     var pt = grid.get(i);
     var node = net.get(pt.name);
     if (node.hidden) continue;
     
     var extName = grid.getExternalName(pt.x,pt.y);
     var x = pt.x+offx;
     var y = pt.y+offy;
     if (extName!=null) {
       ctx.font = "12px sans-serif";
       ctx.fillStyle = "#000000";
       ctx.strokeStyle = "#0000ff";
       ctx.textBaseline = 'top';
       ctx.fillText(extName,sc*x,sc*y+5);
     }
     
     ctx.beginPath();
     var st = sc*0.6;
     var sf = sc*0.4;
     var ss = sc*0.2;
     var ox = st*(pt.dx);
     var oy = st*(pt.dy);
     ctx.lineWidth = 3;
     if (node.forced) {
       ctx.lineWidth = 8;
     }
     if (node.state) {
       ctx.strokeStyle = "#ff0000";
     } else {  
       ctx.strokeStyle = "#0000ff";
     }
     ctx.moveTo((x+pt.dx)*sc,(y+pt.dy)*sc);
     ctx.lineTo(x*sc+pt.dx*sf-ss*pt.dy,y*sc+pt.dy*sf+ss*pt.dx);
     ctx.moveTo(x*sc+pt.dx*sf+ss*pt.dy,y*sc+pt.dy*sf-ss*pt.dx);
     ctx.lineTo((x+pt.dx)*sc,(y+pt.dy)*sc);
     ctx.moveTo((x+pt.dx)*sc,(y+pt.dy)*sc);
     ctx.lineTo(x*sc-ox,y*sc-oy);
     ctx.stroke();
   }
   network = grid3.render(net3);
   oldNetwork = network;
   cosNetwork = grid3.renderCos(net3);
 }

 var edit_network = false;
 var provide_cos_format = false;

 function stepSim() {
   if (network!=oldNetwork) { 
     grid3 = gridLoader(network); 
     net3 = grid3.compile(); 
   } else { 
     net3.update(); 
   } 
   oldNetwork = network; 
 }

 function redrawCanvas() {
   if (network!=oldNetwork) { 
     grid3 = gridLoader(network); 
     net3 = grid3.compile(); 
   }
   redraw($('#gates')[0]); 
   oldNetwork = network; 
   $("#readout").html("<pre>" + (provide_cos_format ? cosNetwork : network) + "</pre>");
   if (!edit_network) {
     $("#Data").val(network);
   }
 }

 function setNetwork(x) {
   network = x;
 }

 $(function() {
   redrawCanvas();

   $('#cos_format').change(function() {
     provide_cos_format = $(this).is(":checked");
     redrawCanvas();
   });

   $("#gates").mousedown(function(e) {
     var coords = relMouseCoords(e,$(e.target));
     var x = coords["x"];
     var y = coords["y"];
     var x0 = (x/sc)-offx;
     var y0 = (y/sc)-offy;
     var near = grid3.get(grid3.nearby(x0,y0));
     if (near!=null) {
       var flipped = false;
       var name = grid3.getName(near.x,near.y);
       var unit = net3.get(name);
       if (!unit.hidden) {
	 flipped = grid3.wobble(x0,y0);
	 if (flipped) {
	   net3.disconnect();
	   grid3.connect(net3);
	 }
       }
       if (!flipped) {
	 if (unit.src!=null) {
	   unit.hidden = !unit.hidden;
	 } else {
	   if (unit.hidden) {
	     unit.state = true;
	     unit.forced = false;
	     unit.hidden = false;
           } else if (unit.forced && unit.state==false) {
	     unit.hidden = true;
           } else if (unit.forced) {
	     unit.state = false;
           } else {
	     unit.set(true);
           }
	 }
       } 
     }else {
       grid3.append(x0,y0,net3);
     }
     redrawCanvas();
     return false;
   });

   var ticker = null;
   var ticking = false;

   function stopSim() {
     if (ticker!=null) {
       window.clearTimeout(ticker);
       ticker = null;
     }
     if (ticking) {
       $("#stop-sim").hide();
       $("#run-sim").show();
       ticking = false;
     }
   }

   function tickSim() {
     ticking = true;
     stepSim();
     redrawCanvas();
     ticker = window.setTimeout(tickSim,250);
   }

   $("#step-sim").click(function() {
     stopSim();
     stepSim();
     redrawCanvas();
     return false;
   });

   $("#run-sim").click(function() {
     stopSim();
     tickSim();
     $("#run-sim").hide();
     $("#stop-sim").show();
     return false;
   });

   $("#stop-sim").click(function() {
     stopSim();
     return false;
   });

   $("#edit-sim").click(function() {
     $('#readout').hide();
     $('#editor').show();
     $('#cos_format_selector').hide();
     $('#no-edit-sim').show();
     $(this).hide();
     edit_network = true;
     return false;
   });

   $("#no-edit-sim").click(function() {
     $('#readout').show();
     $('#editor').hide();
     $('#cos_format_selector').show();
     $(this).hide();
     $('#edit-sim').show();
     edit_network = false;
     return false;
   });

   $("#Data").on('change keyup paste',function() {
     setNetwork($('#Data').val()); 
     redrawCanvas(); 
     return false;
   });

   $("#no-edit-sim").hide();
   $("#stop-sim").hide();

 });

</script>

<div class="content">

  <h2>{{page.title}} circuit</h2>

<p>

Logic circuits are used in the CosmicOS message.  For simplicity, a
single kind of gate is used, the unless gate.  We represent the gate
as an arrow element.  The elements copies the truth value of whatever
is at its tail, and a simple sequence of the elements can be used as a
regular wire.  If an element meets a wire at its head, then it
forces that wire to FALSE if its one value is TRUE. 

</p>

<div class="simulator-panels">

  <div class="simulator-panel">
    <div>
      <a href="#" id="run-sim" class="sim-button">Run simulation</a>
      <a href="#" id="stop-sim" class="sim-button">Stop simulation</a>
      <a href="#" id="step-sim" class="sim-button">Step simulation</a>
    </div>
    <canvas id="gates" width="350" height="300" style="border: 1px solid black;"></canvas>
  </div>

  <div class="simulator-panel">
    <div>
      <a href="#" id="edit-sim" class="sim-button">Edit network</a>
      <a href="#" id="no-edit-sim" class="sim-button">Stop editing network</a>
      <span id="cos_format_selector"><input id="cos_format" type="checkbox" /> <label for="cos_format">COS format</label></span>
    </div>
    <div id="readout">
    </div>
    <div id="editor" style="display: none;">
      <textarea id="Data" rows=15 cols=15>
      </textarea>
    </div>
  </div>
</div>
</div>

{% include footer.html %}
